html,body,ul,li,div,p{margin:0;padding:0;}
html,body,.ani_wrap{width:100%;height:100%;overflow:hidden;}
ul li{list-style:none;}
.pa{position:absolute;}
.ani_wrap{position:relative;}
.content_wrap{width:300%;height:100%;}
.content_wrap>li{position:relative;width:100%;height:100%;float:left;overflow:hidden;}
.character{position:absolute;left:0;width:151px;height:291px;background: url("../images/person/boy-walk.png") no-repeat;}
