/***小男孩走路***/
.slow_walk{animation: man_walking 950ms steps(4) infinite;}
.pauseWalk{animation-play-state: paused!important;}
.sun{animation: sunset 30s;}
.cloud1{animation:anicloud1 30s infinite alternate;}
.cloud2{animation:anicloud2 60s infinite alternate;}
.bird_fly{animation:birdFly 400ms steps(3) infinite;}
.boy_flower{animation: man_walking 950ms steps(4) infinite;}
.stars1 {animation:stars 800ms 500ms infinite alternate;}
.stars2 {animation:stars 2000ms infinite alternate;}
.stars3 {animation:stars 1900ms  200ms infinite alternate;}
.stars4 {animation:stars 1500ms infinite alternate;}
.stars5 {animation:stars 2000ms  100ms infinite alternate;}
.stars6 {animation:stars 1700ms infinite alternate;}
.water_1{animation:shake 30s 1s infinite alternate;}
.water_2{animation:shake 30s 2s infinite alternate;}
.water_3{animation:shake 30s infinite alternate;}
.water_4{animation:shake 30s 3s infinite alternate;}
.boy_rotate{background: url("../images/person/boy-rotate.png") no-repeat;}
.rotate{animation: man_rotate 950ms steps(5) forwards;}
.girl_rotate{animation: girl_rotate 950ms steps(1,start) forwards;}
.logolightSpeedIn{display:block!important;animation:lightSpeedIn 1s ease-out;}
.logoshake{animation:logoshake 0.5s;}
.snowRoll{animation: mysnow 20s;}
@keyframes man_walking {
    0% {background-position:0px;}
    100% {background-position: -604px;}
}
@keyframes man_rotate {
    0% {background-position:0px;}
    100% {background-position: -750px;}
}
@keyframes girl_rotate {
    0% {background-position: -151px 0;}
    25% {background-position: 0 0;}
    50% {background-position: -453px 0;}
    75% {background-position: -604px 0;}
    100% {background-position: -755px 0;}
}
@keyframes sunset {
    to {transform:translate(-2000px,400px);}
}
@keyframes anicloud1 {
    to {left:100%;}
}
@keyframes anicloud2 {
    to {right:100%;}
}
@keyframes birdFly {
    to {background-position:-273px 0;}
}
@keyframes stars {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes shake {
    0%,100% {
        transform:translate3d(0,0,0);
    }
    10%,30%,50%,70%,90%{transform:translate3d(-30px,0px,0);}
    20%,40%,60%,80%{transform:translate3d(30px,0px,0);}
}
@keyframes lightSpeedIn {
    0% {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
@keyframes logoshake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes mysnow {
    0%{bottom:100%;}
    50%{transform:rotate(1080deg);}
    100%{transform:rotate(0deg) translate3d(50px,50px,50px);}
}