.c_background_bg{position:absolute;left:0;top:0;width:100%;height:100%;}
.c_background_top{width:100%;height:71.5%;background: url("../images/c_background_top.png") no-repeat;background-size:100% 100%;}
.c_background_middle{width:100%;height:13.3%;background: url("../images/c_background_middle.png") no-repeat;background-size:100% 100%;}
.c_background_bottom{width:100%;height:15.2%;background: url("../images/c_background_botton.png") no-repeat;background-size:100% 100%;}
.stars{position:absolute;left:0;top:0;width:100%;height:100%;}
.stars>div{position:absolute;width:30px;height:31px;background: url("../images/stars.png") no-repeat;}
.start1{top: 20%;left: 30%;animation: flash 0.5s ease 0.1s infinite;}
.start2{top: 15%;left: 20%;animation: flash 1s ease 0.2s infinite;}
.start3{top: 25%;left: 85%;animation: flash 1.6s ease infinite;}
.start4{top: 30%;left: 70%;animation: flash 0.8s ease 0.3s infinite;}
.start5{top: 25%;left: 20%;animation: flash 1.2s ease 0.2s infinite;}
.start6{top: 10%;left: 65%;animation: flash 0.9s ease infinite;}
.water{position: absolute;width: 41%;height: 24%;left: 29.5%;top: 76%;overflow: hidden;}
.water>div{position:absolute;background: url("../images/water.png") no-repeat;}
.water .water1{top: 50%;left: 15%;width:261px;height:27px;background-position: 0 0;animation: shake 40s linear 1s infinite alternate;}
.water .water2{top: 13%;left: 35%;width:131px;height:15px;background-position:-261px 0;animation: shake 40s linear infinite alternate;}
.water .water3{top: 75%;left: 30%;width:301px;height:12px;background-position:-392px 0;animation: shake 40s linear 1.5s infinite alternate;}
.water .water4{top: 28%;left: 45%;width:161px;height:9px;background-position:-693px 0;animation: shake 40s linear 0.5s infinite alternate;}
.girl{position:absolute;width:151px;height:291px;right:36%;top:37%;background: url("../images/girl.png") no-repeat -151px 0;}
.rotate_girl{animation: rotate_girl 1500ms steps(1,start) forwards;}
.original_state{background-position:-150px 0;}
.logo{display:none;position:absolute;left:50%;top:20%;margin-left:-92.5px;width:185px;height:81px;background: url(../images/logo.png) no-repeat;}
.logolightSpeedIn{display:block;animation: logolightSpeedIn 1s ease-out;}
.logoshake{animation: logoshake 0.5s;}
@keyframes rotate_girl {
    0%{background-position:-151px 0;}
    25%{background-position:0 0;}
    50%{background-position:-302px 0;}
    75%{background-position:-453px 0;}
    100%{background-position:-604px 0;}
}
@keyframes flash {
    0%{opacity: 1;}
    100%{opacity: 0.1;}
}
@keyframes logolightSpeedIn {
    0%{
        transform:translate3d(100%,0,0) skewX(-30deg);
        opacity:0;
    }
    60%{
        transform:skewX(20deg);
        opacity:1;
    }
    80%{
        transform:skewX(-5deg);
        opacity:1;
    }
    100%{
        transform:none;
        opacity:1;
    }
}
@keyframes logoshake {
    0%,100%{transform:translate(0,0);}
    20%,40%,60%,80%{transform:translate(-10px);}
    10%,30%,50%,70%{transform:translate(5px);}
}
@keyframes shake {
    0%,100%{transform:translate3d(0,0,0);}
    10%,30%,50%,70%,90%{transform:translate3d(-30px,0,0);}
    20%,40%,60%,80%{transform:translate3d(30px,0,0);}
}