.c_background_bg{position:absolute;left:0;top:0;width:100%;height:100%;}
.c_background_top{width:100%;height:71.5%;background: url("../images/c_background_top.png") no-repeat;background-size:100% 100%;}
.c_background_middle{width:100%;height:13.3%;background: url("../images/c_background_middle.png") no-repeat;background-size:100% 100%;}
.c_background_bottom{width:100%;height:15.2%;background: url("../images/c_background_botton.png") no-repeat;background-size:100% 100%;}
.girl{position:absolute;width:151px;height:291px;right:36%;top:37%;background: url("../images/girl.png") no-repeat -151px 0;}
.rotate_girl{animation: rotate_girl 1500ms steps(1,start) forwards;}
@keyframes rotate_girl {
    0%{background-position:-151px 0;}
    25%{background-position:0 0;}
    50%{background-position:-302px 0;}
    75%{background-position:-453px 0;}
    100%{background-position:-604px 0;}
}