html,body,ul,li,div{margin:0;padding:0;}
html,body,.ani_wrap{width:100%;height:100%;overflow:hidden;}
ul li{list-style:none;}
.pa{position:absolute;}
.ani_wrap{position:relative;}
.ani_bg{width:300%;height:100%;}
.ani_bg li{width:100%;height:100%;float:left;display:-webkit-flex;display:-moz-flex;display:-o-flex;display: flex;flex-direction: column;}
.ani_bg li .ani_top{flex:auto;height:70%;background: url("../images/background/a_background_top.png") no-repeat;background-size: 34% 100%; }
.ani_bg li .ani_middle{height:15%;background: url("../images/background/a_background_middle.png") no-repeat;}
.ani_bg li .ani_bottom{height:15%;background: url("../images/background/a_background_botton.png") no-repeat;}
.ani_wrap .man{position:absolute;bottom:20%;left:0;width:151px;height:291px;background: url("../images/person/boy-walk.png") no-repeat;animation: man_walking 1.5s steps(4) infinite;}
