.a_background_bg{position:absolute;left:0;top:0;width:100%;height:100%;}
.a_background_bg>div{position:absolute;width:100%;}
.a_background_top{left:0;top:0;height:71.5%;background: url("../images/a_background_top.png") no-repeat;background-size:100% 100%;}
.a_background_middle{left:0;top:71.5%;height:13.2%;background: url("../images/a_background_middle.png") no-repeat;background-size:100% 100%;}
.a_background_bottom{left:0;bottom:0;height:15.3%;background: url("../images/a_background_botton.png") no-repeat;background-size:100% 100%;}
.sun{position:absolute;right:10%;top:-30px;width:201px;height:201px;background: url("../images/sun.png") no-repeat;animation: sunset 60s linear forwards;}
.cloud{position:absolute;z-index: 5;}
.cloud1{right:-5%;top:10%;width:301px;height:140px;background: url("../images/cloud2.png") no-repeat;animation: anicloud1 30s linear infinite;}
.cloud2{left:-5%;top:20%;width:181px;height:101px;background: url("../images/cloud1.png") no-repeat;animation: anicloud2 15s linear infinite;}
@keyframes sunset {
    0%{transform:translate(0,0) rotate(45deg)}
    100%{transform:translate(-2000px,400px) rotate(70deg)}
}
@keyframes anicloud1 {
    to {
        right:100%;
    }
}
@keyframes anicloud2 {
    to {
        left:100%;
    }
}