.boy{position:absolute;right:0;top:0;width:7.83rem;height:2.67rem;background: url("../images/a/boy-sleigh-car.png");background-size:400% 100%;}
.boy_run{animation:chsBoyDeer 0.75s steps(3) infinite;}
.tree{position:absolute;left:1rem;bottom:0;width:2.67rem;height:4.56rem;background: url("../images/a/trees.png");background-size: 200% 100%;}
.moon{position:absolute;left:3.3rem;top:0.8rem;width:2rem;height:2rem;background:#FCF0BC;border-radius:50%;}
.cloudy{position:absolute;left:0.5rem;top:1.8rem;width:1rem;height:1rem;border-radius:50%;background: #60768D;
    box-shadow: #60768D 1.2rem -0.2rem 0 -0.1rem, #60768D 0.5rem -0.5rem, #60768D 0.8rem 0.2rem,#60768D 1.5rem 0.2rem 0 -0.2rem;
    animation: cloudy 5s ease-in-out infinite;
}
.tree_blink{animation:tree_blink 1s steps(2) infinite;}
.moon_light{animation: moon_light 1s ease-in infinite alternate;}
.window{position:absolute;left:9.92rem;top:6.2rem;width:2.6rem;height:1.5rem;cursor:pointer;}
.window:before{content: "";position:absolute;width:100%;height:0.17rem;display:block;bottom:0.05rem;background:url("../images/a/window-bottom.png") no-repeat;background-size:100% 100%;z-index: 50;}
.window:after{content: "";position:absolute;bottom:0;width:100%;height:0.09rem;background: url("../images/a/window-bottom-shadow.png") no-repeat;background-size: 100% 100%;}
.window_content{position:relative;width:91%;margin:0 auto;height:100%;overflow:hidden;transform-style: preserve-3d;perspective:500px;}
.window_bg{position:absolute;bottom:0;left:50%;margin-left:-43%;width:86%;height:92%;background: url("../images/a/page-a-window-bg.png") no-repeat;background-size: 100% 100%;z-index: -1;}
.window_left,.window_right{width:1.17rem;height:1.3rem;z-index:20; }
.window_left{float:left;background: url("../images/a/window-left.png") no-repeat;background-size:100% 100%;border-radius:0.1rem 0 0 0.1rem;}
.window_right{float:right;background: url("../images/a/window-right.png") no-repeat;background-size:100% 100%;border-radius:0 0.1rem 0.1rem 0;}
.window_animation{transition:2s ease-in-out;}
.window_left.hover{transform:rotateY(60deg) scale(0.95);left:-0.25rem;top:0.1rem;transform-origin: left center;}
.window_right.hover{transform:rotateY(-60deg) scale(0.95);left:-0.25rem;top:0.1rem;transform-origin: right center;}
@keyframes tree_blink {
    0%{background-position:0 0;}
    100%{background-position:-200% 0;}
}
@keyframes moon_light {
    to {
        box-shadow: 0 0 1rem #FCF0BC;
    }
}
@keyframes cloudy {
    50% {
        transform: translateY(-0.1rem);
    }
}
@keyframes chsBoyDeer {
    to {background-position:-300% 0;}
}